<div class="row">
  <div class="span4">
    <div class="operand">
    <%= @num1 %> 
    </div>

    <div class="operator">
    <%= @operator %>
    </div>

    <div class="operand">
    <%= @num2 %> 
    </div>
  </div>

  <div class="span4">
    <div class="equal">
    =
    </div>
  </div>

  <div class="span4">
    <div class="result">
    <%= @result %> 
    </div>
  </div>
</div>

<!-- 
<%= @result %> 
<%= @num1 %> 
<%= @num2 %> 
<%= @operator %> -->